<!-- https://gist.github.com/pdarragh/c7ca120604c1a1d8b8de -->

<!-- This finds the current page so it can be highlighted. -->

<!-- {% for entry in site.data.navigation %}
{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
{% if fullurl == page.url %}
{% assign current_page = fullurl %}
{% break %}
{% elsif page.url contains fullurl %}
{% assign current_page = fullurl %}
{% endif %}
{% endfor %} -->


<!-- Then we build the nav bar. -->
<!-- <nav>
    <ul>
        {% for entry in site.data.navigation %}
        {% if entry.url == current_page %}
        {% assign current = ' class="current"' %}
        {% else %}
        {% assign current = null %}
        {% endif %}
        {% assign sublinks = entry.sublinks %}
        {% if sublinks %}
        <li{{ current }}>
        <a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
        <ul>
            {% for sublink in sublinks %}
            <li><a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></li>
            {% endfor %}
        </ul>
        </li>
        {% else %}
        <li{{ current }}><a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</nav> -->
<script defer src="../assets/solid.js"></script>
<script defer src="../assets/fontawesome.js"></script>
<link rel="stylesheet" type="text/css" href="../style.css">

<div class="topnav" id="myTopnav">
    <a href="/" >Home</a>
    <a href="/pages/about.html">About Gaby Mahlberg</a>
    <a href="/pages/updates.html">Research Updates</a>
    <a href="/pages/map.html">Map</a>
   
    <div class="dropdown">
      <button class="dropbtn">Visuals
        
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/pages/eruditorum.html">The Acta Eruditorium</a>
        <a href="/pages/lastpaper.html">Sidney's Last paper</a>
        <a href="/pages/defensio.html">Milton's Defensio</a>
        <a href="/pages/commonwealth.html">Nedham's True State of the Case of the Commonwealth</a>
      </div>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="toggledropdown()">&#9776;</a>
    <a href="/pages/events.html">Events</a>
  </div>
  
  <script>  
    /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
function toggledropdown() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
  </script>